@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$mainFontFamily: 'Raleway', Arial, sans-serif;

body {
  font-family: $mainFontFamily;
  font-size: 16px;

  #backgroundCanvas {
    position: absolute;
    z-index: -10;
  }

  #main-wrap {
    height: 100%;
    margin: 0;
    padding: 2em 2em 2em 2em;
    background: none;

    #main-header {
      padding-left: 1.5em;
      padding-bottom: 1.5em;

      h1.main-title {
        margin: 0;
        margin-bottom: 0;
        font-family: $mainFontFamily;
        font-size: 2.7em;
        font-weight: 800;
        color: #3f3f3f;
        letter-spacing: 0em;

        div {
          margin: 0;
          padding: 0;
        }

        div:nth-child(2) {
          transform: translateY(-0.15em);
        }
      }

      div.main-subtitle {
        h2 {
          display: inline-block;
          margin-top: 0;
          font-size: 1.5em;
          color: #5a5a5a;

          div {
            display: block;
            text-align: justify;
          }
        }
      }

      #main-nav {
        display: inline-block;
        margin: 0;
        padding: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border-top: 1px solid #c5c5c5;
        border: 1px solid #c5c5c5;
        background-color: rgba(220,220,220,0.5);
        transform: translateX(-1.5em);

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            margin: 0;
            display: inline-block;

            a {
              font-size: 1.2em;
              margin-right: 1em;
              text-decoration: none;
              font-family: $mainFontFamily;
              color: #565656;
              letter-spacing: 0.08em;

              &:hover {
                color: #888;
                transition: color 0.2s;
              }
            }
          }

          // prevent the line over the menu from moving past menu items
          li:nth-child(4) {
            a {
              margin-right: 0;
            }
          }
        }
      }
    }


  }
}
