@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$mainFontFamily: 'Arial', Arial, sans-serif;
$secondaryFontFamily: 'Arial', Arial, sans-serif;

$linkHoverColor: hsl(0,60%,50%);

body {
  width: 100%;
  background-color: hsl(0,0%, 92%);
  font-family: $mainFontFamily;
  font-size: 16px;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: $secondaryFontFamily;
  font-size: 2.8em;
  font-weight: 800;
  color: hsl(0, 0, 23%);
}

h2 {
  margin: 0;
  padding: 0;
  font-family: $secondaryFontFamily;
  font-size: 1.9em;
  font-weight: 800;
  color: hsl(0, 0, 23%);
  letter-spacing: 0em;
}

h3 {
  margin-top: 0.5em;
  padding: 0;
  display: inline-block;
  font-family: $secondaryFontFamily;
  font-size: 1.4em;
  font-weight: 800;
  color: hsl(0, 0, 28%);
}

h4 {
  color: hsl(0,0, 16%);
}

a {
  margin-right: 1em;
  text-decoration: none;
  font-family: $mainFontFamily;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  color: hsl(230,70%,50%);

  &:hover {
    color: $linkHoverColor;
    transition: color 0.2s;
  }
}

ul {
  list-style: none;
}

.section {
  margin-top: 5em;
  padding: 2.5em 1em 2em 1em;
}

.section-title {
  display: block;
  text-align: center;
}

#sticky-return-to-top {
  display: inline-block;
  position: fixed;
  z-index: 1000;
  bottom: 0em;
  right: 0em;

  span {
    width: 100%;
    height: 100%;
    font-size: 4em;
    background-color: hsl(0,0%, 80%);
    color: hsl(0,0%,20%);

    &:hover {
      cursor: pointer;
      color: $linkHoverColor;
    }
  }
}

#main-content-wrap {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-color: rgba(255,255,255, 0);
}

#main-header {
  position: relative;
  text-align: center;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  background-color: hsla(255,255,255,0.3);

  #main-title {
    margin-top: 20vh;
    margin-bottom: 0;
    font-family: $secondaryFontFamily;
    font-size: 2.7em;
    font-weight: 800;
    color: #3f3f3f;
    letter-spacing: 0em;

    div {
      margin: 0;
      padding: 0;
    }

    div:nth-child(2) {
      transform: translateY(-0.15em);
    }
  }

  #main-description {
    h2 {
      display: inline-block;
      margin-top: 5vh;
      margin-bottom: 5vh;
      font-size: 1.5em;
      color: #5a5a5a;

      div {
        display: block;
        text-align: justify;
      }
    }
  }
}

#main-nav {
  display: block;
  margin: 0;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-width: 3px 0px 3px 0px;
  border-style: solid;
  border-color: #ccc;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0;
      display: inline-block;

      a {
        padding-bottom: 0.2em;
        font-size: 1.2em;
        margin-right: 1em;
        text-decoration: none;
        font-family: $mainFontFamily;
        font-weight: 800;
        color: hsl(0,5%,30%);
        letter-spacing: 0.08em;

        &:hover {
          cursor: pointer;
          color: $linkHoverColor;
          transition: color 0.2s;
        }
      }
    }

    // prevent the line over the menu from moving past menu items
    li:nth-child(4) {
      a {
        margin-right: 0;
      }
    }
  }
}

.external-links {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  text-align: center;

  ul {
    display: inline-block;
    list-style: none;
    padding: 0;
  }

  li {
    display: inline-block;

    &:nth-child(1) {
      a {
        &:before {
          content: '\f200';
        }
      }
    }
    &:nth-child(2) {
      a {
        &:before {
          content: '\f216';
        }
      }
    }
    &:nth-child(3) {
      a {
        &:before {
          content: '\f208';
        }
      }
    }
  }

  a {
    font-family: 'Genericons';
    color: hsl(0,0,20%);
    font-size: 3em;
    &:hover {
      color: $linkHoverColor;
    }
  }
}

#sticky-nav {
  display: flex;
  z-index: 1000;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  visibility: visible;
  position: fixed;
  width: 100%;
  min-height: 3.5em;
  top: -100px;
  left: 0px;
  background-color: hsl(0,0%,30%);
  box-shadow: 0px 1px 2px 0px #333;

  #sticky-title {
    position: relative;
    display: inline-block;
    width: 10em;
    margin-left: 2em;
    font-weight: 800;
    color: hsl(0,0,70%);
  }

  #sticky-site-nav {
    position: relative;
    display: inline-block;
    width: 30em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    transition: font-size 0.8s;

    li {
      margin: 0;
      display: inline-block;
      vertical-align: middle;

      a {
        padding-bottom: 0.2em;
        font-size: 1.2em;
        margin-right: 1em;
        text-decoration: none;
        font-family: $mainFontFamily;
        color: hsl(0,0,70%);
        letter-spacing: 0.08em;

        &:hover {
          cursor: pointer;
          color: $linkHoverColor;
          transition: color 0.2s;
        }
      }

      #top-link-sticky {
        font-size: 1em;
      }
    }
  }

  .external-links {
    position: relative;
    display: inline-block;
    top: 0;
    right: 0;
    text-align: right;
    width: auto;
    min-width: 10em;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      a {
        font-size: 1.5em;
      }
    }
  }
}

#projects {
  position: relative;
  padding: 4em;
  background-color: rgba(255,255,255,0);

  .project {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 1em;
    border: 1px solid hsl(0,0,80%);
    padding: 1.5em;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 1px 1px 1px 0px #ccc;

    .project-header {
      display: block;
      width: 100%;
      padding: 2em 2em 0em 2em;
    }

    .project-image {
      display: inline-block;
      position: relative;
      max-width: 500px;
      padding: 2em 1em 1em 2em;
      background-color: rgba(255,255,255,0);

      img {
        display: inline-block;
        width: auto;
        max-width: 100%;
        border: 1px solid #888;
      }
    }

    .project-content {
      display: inline-block;
      width: 40%;
      min-width: 2em;
      padding: 2em 1em 1em 3em;
      flex-grow: 1;
      flex-shrink: 1;

      .project-links {
        display: block;
        margin-top: 0;
        margin-bottom: 1em;
      }

      .project-keywords {
        display: block;
        padding: 0;
        margin-bottom: 1em;

        li {
          display: inline-block;
          margin-right: 1em;
          font-size: 0.9em;
          font-weight: 800;
          color: hsl(0, 0, 20%);
        }
      }

      .project-description {
        display: inline-block;
        width: auto;
        text-align: left;
        line-height: 2em;
        color: hsl(0,0,16%);

        a {
          margin: 0;
          letter-spacing: inherit;
          text-decoration: none;
          color: #454545;
          font-size: 1em;
          font-weight: 600;

          &:hover {
            color: #666;
          }
        }
      }

      .project-description-subsection {
        padding-top: 1em;

        a {
          font-size: inherit;
          color: inherit;
          font-weight: 800;
          letter-spacing: inherit;
          margin: inherit;
        }

        .subsection-block {
          display: flex;
          flex-direction: row;
          justify-content: left;
          align-items: flex-start;
          padding-top: 0.5em;

          .col-left {
            display: inline-block;
          }

          .col-right {
            display: inline-block;
            margin-left: 0em;
          }
          .project-links {
            margin-right: 5em;

            a {
              margin-right: 1em;
              text-decoration: none;
              font-family: $mainFontFamily;
              font-size: 1.2em;
              letter-spacing: 0.05em;
              color: hsl(230,70%,50%);
              font-weight: 400;

              &:hover {
                color: hsl(220,100%,70%);
                transition: color 0.2s;
              }
            }

            ul {
              list-style: none;

              li {
                display: inline-block;
              }
            }
          }
        }

        .subsection-image-wrap {
          display: inline-block;
          padding: 1em;
          max-width: 300px;
          max-height: 500px;
          border: 1px solid hsl(0,0,85%);

          img {
            width: auto;
            max-height: 300px;
          }
        }

        nav {
          display: inline-block;
        }

        p {
          color: hsl(0, 0, 20%);
          line-height: 1.8em;
          text-align: justify;

          a {
            text-decoration: none;
            color: #454545;
            font-weight: 600;

            &:hover {
              color: #666;
            }
          }
        }
      }
    }
  }
}

#resume {

  #resume-pdf-version {
    display: inline-block;
    float: right;
  }

  #resume-list {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    padding: 4em 1em 3em 3em;
    color: hsl(0,0,20%);
    font-weight: 800;
    background-color: hsla(255,255,255,0.7);
    box-shadow: 1px 1px 3px 1px hsl(0, 0, 70%);

    ul {
      list-style: none;
    }

    .resume-section {
      margin-top: 1.3em;
      color: hsl(0,0,20%);
      padding: 0;

      h4 {
        margin-bottom: 1em;
      }

      & ul {
        & li {
          display: block;
          margin-right: 0.5em;
          margin-bottom: 0.2em;
          font-weight: 400;
        }
      }
    }

    .resume-subsection {
      padding: 0;
    }

    #skills-list {
      li {
        display: inline-block;
      }
    }

    #education-list, #experience-list {
      &>li {
        margin-bottom: 0.8em;
      }
    }

    #additional-coursework {
      font-size: 0.95em;
    }

    #teaching-list {
      padding-top: 0.3em;
      font-size: 0.9em;

      & > li {
        padding: 0em;
        margin: 0em;
        margin-bottom: 0.3em;

        & > ul {
          display: inline-block;
          padding: 0;

          li {
            display: inline-block;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}

#contact {
  min-height: 800px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 1px;
  background-color: hsla(0, 0, 100%, 0.7);
  box-shadow: 1px 1px 3px 1px hsl(0, 0, 70%);
}

#profile-picture-wrap {
  position: relative;
  float: right;
  clear: top;
  max-width: 250px;
  margin-right: 7em;

  img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    border-radius: 5%;
  }
}

#front-page-canvas-wrap {
  position:absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: auto;
  max-width: 100vw;
  min-height: 700px;
  margin-top: 1em;

  #canvas-animation {
    position: relative;
  }
}

@media only screen and (max-width: 800px) {

  #sticky-nav {
    flex-wrap: nowrap;

    #sticky-title {
      visibility: hidden;
    }

    #sticky-site-nav {
      min-width: 25em;
      font-size: 0.9em;
      transition: font-size 0.8s;
    }

    .external-links {
      visibility: hidden;
    }
  }

  #projects, #resume, #contact {
    padding: 0;
    min-width: 200px;
    transition: padding 0.2s;
  }
  #projects {
    padding: 0;

    .project {
      width: 100%;
      margin: 0;
    }

    .project-description-subsection {
      .subsection-image-wrap {
        display: none;

        img {
          display: none;
        }
      }

      .project-links {
        padding: 0;
        margin: 0;
      }
    }
  }

  #resume {
    max-width: 100%;
  }

  #contact {
    max-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1em;
  }

  #main-header {
    padding: 0;

    #main-title {
      margin-top: 0.5em;
      transition: margin-top 0.5s;
    }

    #main-description {
      min-width: 280px;
      margin-top: 0em;
      transition: margin-top 0.5s;

      h2 {
        margin-top: 0.1em;
        font-size: 1.3em;
        transition: margin-top 0.5s, font-size 0.5s;
      }
    }
  }

  #main-nav {
    width: 200px;

    ul {
      li {
        display: block;
      }
    }
  }

  .external-links {
    width: auto;
    min-width: 200px;

    li {
      max-width: 50px;
    }
    li:nth-child(2) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  #projects {
    padding: 0em;

    .project {
      padding: 0em;

      .project-header {
        padding: 1em;
      }

      .project-image {
        padding: 0;
        text-align: center;

        img {
          max-width: 90%;
        }
      }

      .project-content {
        padding: 1em;

        .project-links {
          padding: 0;
          margin: 0;

          a {
            letter-spacing: 0em;
          }
        }

        .project-keywords {
          display: none;
        }

        .project-description {
          line-height: 1.5em;
        }
      }
    }
  }

  #resume {
    #resume-list {
      padding: 0.5em;

      ul {
        padding: 0.5em;
      }
    }
  }
}
